<?php
$title = 'Add New Currency Transaction';
$this->headTitle($title);
?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action', $this->url('transaction', array('action' => 'add')));
$form->prepare();

echo $this->form()->openTag($form);
?>
 <table class="table">
    <tr>
        <td>
            <?php
                echo $this->formHidden($form->get('id'));
            ?>
                <label class="add-transaction">
                    <span>JSON Message</span>
                    <textarea class="add-transaction" name="json_message"></textarea>
                </label>
        </td>
    </tr>
    <tr>
        <td align="right">
            <?php echo $this->formSubmit($form->get('submit')); ?>
        </td>
    </tr>
 </table>
 <?php
 echo $this->form()->closeTag();