<?php
$title = 'Currency Transactions';
$this->headTitle($title);
?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>


<table class="table">
    <tr>
        <th>User Id</th>
        <th>From</th>
        <th>To</th>
        <th>Amount Sell</th>
        <th>Amount Buy</th>
        <th>Rate</th>
        <th>Date</th>
        <th>Originating Country</th>
    </tr>
    <?php foreach ($this->paginator as $transaction) : ?>
    <tr>
        <td><?php echo $this->escapeHtml($transaction->userId);?></td>
        <td><?php echo $this->escapeHtml($transaction->currencyFrom);?></td>
        <td><?php echo $this->escapeHtml($transaction->currencyTo);?></td>
        <td><?php echo $this->escapeHtml($transaction->amountSell);?></td>
        <td><?php echo $this->escapeHtml($transaction->amountBuy);?></td>
        <td><?php echo $this->escapeHtml($transaction->rate);?></td>
        <td>
            <?php
                echo $this->dateFormat(
                    strtotime($this->escapeHtml($transaction->timePlaced)),
                    IntlDateFormatter::MEDIUM, // date
                    IntlDateFormatter::SHORT, // time
                    "en_US"
                );
            ?>
        </td>
        <td><?php echo $this->escapeHtml($transaction->originatingCountry);?></td>
    </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
    // the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'transaction'
    )
);
?>