<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<?php
$title = 'Transactions Graphs';
$this->headTitle($title);
?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>


<table class="table">
    <tr>
        <th align="right">
            Currencies
        </th>
    </tr>
    <tr>
        <td colspan="2">
            <div id="highroller"></div>
        </td>
    </tr>
</table>
<?php
    $this->highroller->chart->renderTo = "highroller";
    $this->headScript()->appendScript($this->highroller->renderChart());
?>